header {
    width: 100%;
    height: 100px;

    display: block;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;

    z-index: 999;

    background-color: rgba($dark, 0.4);

    &.mobile--active {
        background-color: transparent;
    }
}

header nav {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 5px 30px;

    @include breakpoint(medium) {
        padding: 5px 50px;
    }

    ul {
        display: none;
        margin-right: 15px;

        li {
            display: inline-block;
            margin: 0 15px;
        }

        @include breakpoint(medium) {
            display: block;
        }
    }

    ul li a {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;

        position: relative;

        &::before {
            content: '';
            width: 0;
            height: 1px;

            background-color: $white;

            position: absolute;
            left: 50%;
            bottom: -5px;

            transition: .15s ease-in-out;
        }

        &:hover {
            &::before {
                width: 110%;
                left: -5%;
            }
        }

        &.active {

        }
    }
}

header .burger-container {
    width: 30px;
    min-height: 30px; 

    cursor: pointer;

    position: relative;
    margin-right: 20px;

    @include breakpoint(medium) {
        display: none;
    }
}

.burger-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    span {
        display: block;
        width: 100%;
        height: 1px;

        border-radius: 3px;
        
        background-color: $white;

        margin-bottom: 5px;
        transition: 0.25s ease-in-out;

        &:first-child {
            width: 80%;
        }

        &:last-child {
            width: 60%;
            margin-bottom: 0;
        }
    }
}

.burger-container:hover span,
.burger-container.active span {
    width: 100%;
}

.burger-container.active span {
    position: absolute;

    background-color: $dark;

    &:nth-child(1) {
        top: 50%;
        left: 0;
        transform: rotate(45deg) translate(0, 0);
    }

    &:nth-child(2) {
        top: 50%;
        opacity: 0;
        visibility: hidden;
    }

    &:nth-child(3) {
        bottom: 50%;
        left: 0;
        transform: rotate(-45deg) translate(0, 0);
    }
}

header nav .logo-container {
    display: none;

    margin-top: 29px;

    @include breakpoint(medium) {
        display: block;
    }

    img {
        width: 100px;
    }

    .title {
        color: $white;
        margin-left: 30px;
    }
}

.mobile-container {
    opacity: 0;
    visibility: hidden;

    width: 100%;
    height: 100%;

    background-color: $white;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 998;

    &.expand {
        opacity: 1;
        visibility: visible;
    }
}

.mobile-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding-top: 125px;

    ul {
        li {
            text-align: center;
            margin: 15px 0;

            a {
                color: $dark;
                text-decoration: none;

                font-size: 2rem;
            }
        }
    }
}