/node_modules
/public/hot
/public/storage
/public_html/storage_old
/public_html/storage
/bootstrap/
/artisan/
/storage/*
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
yarn.lock
webpack.mix.js
server.php
phpunit.xml
package.json
package-lock.json
artisan
.eslintr.js